{% extends 'base.html.twig' %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <h1>eventNow</h1>
            <p>Create your event, generate some tickets...</p>
            <p><a class="btn btn-primary btn-lg" href="{{ path('event_create') }}" role="button">Start by creating an event!</a></p>

            <p>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- eventNow Home -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:728px;height:90px"
                     data-ad-client="ca-pub-7587491283183201"
                     data-ad-slot="2889303804"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </p>
        </div>

    </div>

{% endblock %}

{% block body %}

{% endblock %}

{% block advertisment %}
&nbsp;
{% endblock %}
