$navbar-border-radius: 0;

@import 'bootstrap';

a:link:after, a:visited:after {
    content: normal !important;
}

$error-color: #c63c39;

.content-container {
  .create-event-form-container {
    text-align: center;
  }
}

.jumbotron {
  color: white;
  background-image: url('/images/background.jpg');
  background-position: 15% 5%;
  text-align: center;
  margin-top: -20px;
  height: 600px;
}

.form-row {
  margin-top: 20px;
}

.form-field {
  ul {
    list-style-type: none;
    padding-left: 0;
    color: $error-color;
  }
}

.advertisment {
  margin-top: 20px;
  text-align: center;
}

.advertisment-home {
  margin-top: 50px;
}

.event-back {
  margin-top: 20px;
}