{% extends 'base.html.twig' %}

{% block body %}
    <div class="row create-event-form-container">
        <div class="col-sm-4">&nbsp;</div>
        <div class="col-xs-12 col-sm-4">
            {{ form_start(form) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
